In [3]:
%config IPCompleter.greedy=True
%matplotlib inline
%load_ext autoreload
%autoreload 2

In [4]:
import os, sys, re, math, datetime as dt, pandas as pd, numpy as np, time
import logging
import matplotlib.pyplot as plt
from string import Template
from IPython.display import display, HTML

logging.basicConfig(format='%(asctime)s [%(name)s:%(lineno)d:%(funcName)s] [%(levelname)s] %(message)s', level=logging.INFO)

pd.set_option('display.max_rows', 5000)
pd.set_option('display.max_columns', 5000)
pd.set_option('display.max_colwidth', 5000)
pd.set_option('display.width', 5000)

def display_df(df):
    display(df.head(4))
    print(df.shape)

In [5]:
laps = pd.read_csv('../f1_data/lap_times.csv')
laps.head()
laps.shape

(562507, 6)

In [6]:
laps.loc[(laps.raceId==1098) & (laps.driverId==830)]

        raceId  driverId  lap  position      time  milliseconds
538121    1098       830    1         1  1:39.019         99019
538122    1098       830    2         1  1:37.974         97974
538123    1098       830    3         1  1:38.006         98006
538124    1098       830    4         1  1:37.976         97976
538125    1098       830    5         1  1:38.035         98035
538126    1098       830    6         1  1:37.986         97986
538127    1098       830    7         1  1:38.021         98021
538128    1098       830    8         1  1:38.154         98154
538129    1098       830    9         1  1:38.278         98278
538130    1098       830   10         1  1:38.369         98369
538131    1098       830   11         1  1:38.483         98483
538132    1098       830   12         1  1:38.591         98591
538133    1098       830   13         1  1:38.482         98482
538134    1098       830   14         1  1:41.295        101295
538135    1098       830   15         2  1:58.378        118378
538136    1098       830   16         2  1:37.801         97801
538137    1098       830   17         2  1:37.648         97648
538138    1098       830   18         1  1:37.614         97614
538139    1098       830   19         1  1:37.712         97712
538140    1098       830   20         1  1:37.788         97788
538141    1098       830   21         1  1:37.582         97582
538142    1098       830   22         1  1:37.651         97651
538143    1098       830   23         1  1:37.552         97552
538144    1098       830   24         1  1:37.387         97387
538145    1098       830   25         1  1:37.372         97372
538146    1098       830   26         1  1:37.682         97682
538147    1098       830   27         1  1:37.379         97379
538148    1098       830   28         1  1:37.651         97651
538149    1098       830   29         1  1:37.571         97571
538150    1098       830   30         1  1:37.549         97549
538151    1098       830   31         1  1:37.431         97431
538152    1098       830   32         1  1:37.691         97691
538153    1098       830   33         1  1:37.686         97686
538154    1098       830   34         1  1:37.839         97839
538155    1098       830   35         1  1:37.850         97850
538156    1098       830   36         1  1:40.964        100964
538157    1098       830   37         1  1:58.490        118490
538158    1098       830   38         1  1:36.297         96297
538159    1098       830   39         1  1:36.446         96446
538160    1098       830   40         1  1:36.942         96942
538161    1098       830   41         1  2:00.495        120495
538162    1098       830   42         1  1:44.824        104824
538163    1098       830   43         1  1:36.890         96890
538164    1098       830   44         1  1:36.236         96236
538165    1098       830   45         1  1:37.015         97015
538166    1098       830   46         1  1:36.701         96701
538167    1098       830   47         1  1:37.009         97009
538168    1098       830   48         1  1:36.918         96918
538169    1098       830   49         1  1:36.962         96962
538170    1098       830   50         1  1:37.250         97250
538171    1098       830   51         1  1:37.427         97427
538172    1098       830   52         1  1:36.919         96919
538173    1098       830   53         1  1:36.890         96890
538174    1098       830   54         1  1:36.678         96678
538175    1098       830   55         1  1:36.322         96322
538176    1098       830   56         1  1:37.205         97205
538177    1098       830   57         1  1:36.373         96373

In [7]:
pits = pd.read_csv('../f1_data/pit_stops.csv')
pits.head()

   raceId  driverId  stop  lap      time duration  milliseconds
0     841       153     1    1  17:05:23   26.898         26898
1     841        30     1    1  17:05:52   25.021         25021
2     841        17     1   11  17:20:48   23.426         23426
3     841         4     1   12  17:22:34   23.251         23251
4     841        13     1   13  17:24:10   23.842         23842

In [12]:
qualify = pd.read_csv('../f1_data/qualifying.csv')
qualify.head()

   qualifyId  raceId  driverId  constructorId  number  position        q1        q2        q3
0          1      18         1              1      22         1  1:26.572  1:25.187  1:26.714
1          2      18         9              2       4         2  1:26.103  1:25.315  1:26.869
2          3      18         5              1      23         3  1:25.664  1:25.452  1:27.079
3          4      18        13              6       2         4  1:25.994  1:25.691  1:27.178
4          5      18         2              2       3         5  1:25.960  1:25.518  1:27.236

In [8]:
circuits = pd.read_csv("../f1_data/circuits.csv")
circuits.head()

   circuitId   circuitRef                            name      location    country       lat        lng  alt                                                          url
0          1  albert_park  Albert Park Grand Prix Circuit     Melbourne  Australia -37.84970  144.96800   10    http://en.wikipedia.org/wiki/Melbourne_Grand_Prix_Circuit
1          2       sepang    Sepang International Circuit  Kuala Lumpur   Malaysia   2.76083  101.73800   18    http://en.wikipedia.org/wiki/Sepang_International_Circuit
2          3      bahrain   Bahrain International Circuit        Sakhir    Bahrain  26.03250   50.51060    7   http://en.wikipedia.org/wiki/Bahrain_International_Circuit
3          4    catalunya  Circuit de Barcelona-Catalunya      Montmeló      Spain  41.57000    2.26111  109  http://en.wikipedia.org/wiki/Circuit_de_Barcelona-Catalunya
4          5     istanbul                   Istanbul Park      Istanbul     Turkey  40.95170   29.40500  130                   http://en.wikipedia.org/wiki/Istanbul_Park

In [9]:
circuits.dtypes

circuitId       int64
circuitRef     object
name           object
location       object
country        object
lat           float64
lng           float64
alt             int64
url            object
dtype: object

In [10]:
gp = pd.read_csv("../f1_data/grand_prix.csv")
gp.head()

                    race  circuitId                         circuit  circuit_length  race_distance  laps
0  Australian Grand Prix          1    Melbourne Grand Prix Circuit           5.303        307.574    58
1     Bahrain Grand Prix          3   Bahrain International Circuit           5.412        308.238    57
2     Chinese Grand Prix         17  Shanghai International Circuit           5.451        305.066    56
3  Azerbaijan Grand Prix         73               Baku City Circuit           6.003        306.049    51
4     Spanish Grand Prix          4  Circuit de Barcelona-Catalunya           4.655        307.104    66

In [11]:
seasons = pd.read_csv('../f1_data/seasons.csv')
seasons.sort_values('year', ascending=True)

    year                                                                url
60  1950               http://en.wikipedia.org/wiki/1950_Formula_One_season
59  1951               http://en.wikipedia.org/wiki/1951_Formula_One_season
58  1952               http://en.wikipedia.org/wiki/1952_Formula_One_season
57  1953               http://en.wikipedia.org/wiki/1953_Formula_One_season
56  1954               http://en.wikipedia.org/wiki/1954_Formula_One_season
55  1955               http://en.wikipedia.org/wiki/1955_Formula_One_season
54  1956               http://en.wikipedia.org/wiki/1956_Formula_One_season
53  1957               http://en.wikipedia.org/wiki/1957_Formula_One_season
52  1958               http://en.wikipedia.org/wiki/1958_Formula_One_season
51  1959               http://en.wikipedia.org/wiki/1959_Formula_One_season
50  1960               http://en.wikipedia.org/wiki/1960_Formula_One_season
49  1961               http://en.wikipedia.org/wiki/1961_Formula_One_season
48  1962               http://en.wikipedia.org/wiki/1962_Formula_One_season
47  1963               http://en.wikipedia.org/wiki/1963_Formula_One_season
46  1964               http://en.wikipedia.org/wiki/1964_Formula_One_season
45  1965               http://en.wikipedia.org/wiki/1965_Formula_One_season
44  1966               http://en.wikipedia.org/wiki/1966_Formula_One_season
43  1967               http://en.wikipedia.org/wiki/1967_Formula_One_season
42  1968               http://en.wikipedia.org/wiki/1968_Formula_One_season
41  1969               http://en.wikipedia.org/wiki/1969_Formula_One_season
40  1970               http://en.wikipedia.org/wiki/1970_Formula_One_season
39  1971               http://en.wikipedia.org/wiki/1971_Formula_One_season
38  1972               http://en.wikipedia.org/wiki/1972_Formula_One_season
37  1973               http://en.wikipedia.org/wiki/1973_Formula_One_season
36  1974               http://en.wikipedia.org/wiki/1974_Formula_One_season
35  1975               http://en.wikipedia.org/wiki/1975_Formula_One_season
34  1976               http://en.wikipedia.org/wiki/1976_Formula_One_season
33  1977               http://en.wikipedia.org/wiki/1977_Formula_One_season
32  1978               http://en.wikipedia.org/wiki/1978_Formula_One_season
31  1979               http://en.wikipedia.org/wiki/1979_Formula_One_season
30  1980               http://en.wikipedia.org/wiki/1980_Formula_One_season
29  1981               http://en.wikipedia.org/wiki/1981_Formula_One_season
28  1982               http://en.wikipedia.org/wiki/1982_Formula_One_season
27  1983               http://en.wikipedia.org/wiki/1983_Formula_One_season
26  1984               http://en.wikipedia.org/wiki/1984_Formula_One_season
25  1985               http://en.wikipedia.org/wiki/1985_Formula_One_season
24  1986               http://en.wikipedia.org/wiki/1986_Formula_One_season
23  1987               http://en.wikipedia.org/wiki/1987_Formula_One_season
22  1988               http://en.wikipedia.org/wiki/1988_Formula_One_season
21  1989               http://en.wikipedia.org/wiki/1989_Formula_One_season
19  1990               http://en.wikipedia.org/wiki/1990_Formula_One_season
18  1991               http://en.wikipedia.org/wiki/1991_Formula_One_season
17  1992               http://en.wikipedia.org/wiki/1992_Formula_One_season
16  1993               http://en.wikipedia.org/wiki/1993_Formula_One_season
15  1994               http://en.wikipedia.org/wiki/1994_Formula_One_season
14  1995               http://en.wikipedia.org/wiki/1995_Formula_One_season
13  1996               http://en.wikipedia.org/wiki/1996_Formula_One_season
12  1997               http://en.wikipedia.org/wiki/1997_Formula_One_season
11  1998               http://en.wikipedia.org/wiki/1998_Formula_One_season
10  1999               http://en.wikipedia.org/wiki/1999_Formula_One_season
9   2000               http://en.wikipedia.org/wiki/2000_Formula_One_season
8   2001               http://en.wikipedia.org/wiki/2001_Formula_One_season
7   2002               http://en.wikipedia.org/wiki/2002_Formula_One_season
6   2003               http://en.wikipedia.org/wiki/2003_Formula_One_season
5   2004               http://en.wikipedia.org/wiki/2004_Formula_One_season
4   2005               http://en.wikipedia.org/wiki/2005_Formula_One_season
3   2006               http://en.wikipedia.org/wiki/2006_Formula_One_season
2   2007               http://en.wikipedia.org/wiki/2007_Formula_One_season
1   2008               http://en.wikipedia.org/wiki/2008_Formula_One_season
0   2009               http://en.wikipedia.org/wiki/2009_Formula_One_season
20  2010               http://en.wikipedia.org/wiki/2010_Formula_One_season
61  2011               http://en.wikipedia.org/wiki/2011_Formula_One_season
62  2012               http://en.wikipedia.org/wiki/2012_Formula_One_season
63  2013               http://en.wikipedia.org/wiki/2013_Formula_One_season
64  2014               http://en.wikipedia.org/wiki/2014_Formula_One_season
65  2015               http://en.wikipedia.org/wiki/2015_Formula_One_season
66  2016               http://en.wikipedia.org/wiki/2016_Formula_One_season
67  2017               http://en.wikipedia.org/wiki/2017_Formula_One_season
68  2018   http://en.wikipedia.org/wiki/2018_Formula_One_World_Championship
69  2019   http://en.wikipedia.org/wiki/2019_Formula_One_World_Championship
70  2020   http://en.wikipedia.org/wiki/2020_Formula_One_World_Championship
71  2021   http://en.wikipedia.org/wiki/2021_Formula_One_World_Championship
72  2022   http://en.wikipedia.org/wiki/2022_Formula_One_World_Championship
73  2023  https://en.wikipedia.org/wiki/2023_Formula_One_World_Championship

In [13]:
circuit = pd.read_csv('../f1_data/circuits.csv')
circuit.head()

   circuitId   circuitRef                            name      location    country       lat        lng  alt                                                          url
0          1  albert_park  Albert Park Grand Prix Circuit     Melbourne  Australia -37.84970  144.96800   10    http://en.wikipedia.org/wiki/Melbourne_Grand_Prix_Circuit
1          2       sepang    Sepang International Circuit  Kuala Lumpur   Malaysia   2.76083  101.73800   18    http://en.wikipedia.org/wiki/Sepang_International_Circuit
2          3      bahrain   Bahrain International Circuit        Sakhir    Bahrain  26.03250   50.51060    7   http://en.wikipedia.org/wiki/Bahrain_International_Circuit
3          4    catalunya  Circuit de Barcelona-Catalunya      Montmeló      Spain  41.57000    2.26111  109  http://en.wikipedia.org/wiki/Circuit_de_Barcelona-Catalunya
4          5     istanbul                   Istanbul Park      Istanbul     Turkey  40.95170   29.40500  130                   http://en.wikipedia.org/wiki/Istanbul_Park