In [1]:
%config IPCompleter.greedy=True
%matplotlib inline
%load_ext autoreload
%autoreload 2

In [2]:
import os, sys, re, math, datetime as dt, pandas as pd, numpy as np, time
import logging
import matplotlib.pyplot as plt
from string import Template
from IPython.display import display, HTML

logging.basicConfig(format='%(asctime)s [%(name)s:%(lineno)d:%(funcName)s] [%(levelname)s] %(message)s', level=logging.INFO)

pd.set_option('display.max_rows', 5000)
pd.set_option('display.max_columns', 5000)
pd.set_option('display.max_colwidth', 5000)
pd.set_option('display.width', 5000)

def display_df(df):
    display(df.head(4))
    print(df.shape)

In [3]:
driver_standings = pd.read_csv('../f1_data/driver_standings.csv')
driver_standings.head()

   driverStandingsId  raceId  driverId  points  position positionText  wins
0                  1      18         1    10.0         1            1     1
1                  2      18         2     8.0         2            2     0
2                  3      18         3     6.0         3            3     0
3                  4      18         4     5.0         4            4     0
4                  5      18         5     4.0         5            5     0

In [4]:
lap_times = pd.read_csv('../f1_data/lap_times.csv')
lap_times.loc[(lap_times.raceId==1098) & (lap_times.driverId==844)]

        raceId  driverId  lap  position      time  milliseconds
538178    1098       844    1         2  1:40.230        100230
538179    1098       844    2         2  1:38.750         98750
538180    1098       844    3         2  1:38.658         98658
538181    1098       844    4         2  1:38.825         98825
538182    1098       844    5         2  1:38.664         98664
538183    1098       844    6         2  1:38.572         98572
538184    1098       844    7         2  1:38.691         98691
538185    1098       844    8         2  1:38.614         98614
538186    1098       844    9         2  1:38.828         98828
538187    1098       844   10         2  1:39.073         99073
538188    1098       844   11         2  1:39.212         99212
538189    1098       844   12         2  1:39.489         99489
538190    1098       844   13         3  1:42.068        102068
538191    1098       844   14         5  1:58.770        118770
538192    1098       844   15         3  1:38.477         98477
538193    1098       844   16         3  1:37.953         97953
538194    1098       844   17         3  1:38.031         98031
538195    1098       844   18         2  1:37.798         97798
538196    1098       844   19         2  1:37.858         97858
538197    1098       844   20         2  1:37.631         97631
538198    1098       844   21         2  1:37.753         97753
538199    1098       844   22         2  1:38.162         98162
538200    1098       844   23         2  1:38.054         98054
538201    1098       844   24         2  1:37.972         97972
538202    1098       844   25         2  1:38.541         98541
538203    1098       844   26         3  1:39.668         99668
538204    1098       844   27         3  1:38.814         98814
538205    1098       844   28         3  1:38.618         98618
538206    1098       844   29         3  1:38.447         98447
538207    1098       844   30         3  1:38.390         98390
538208    1098       844   31         3  1:38.746         98746
538209    1098       844   32         3  1:38.948         98948
538210    1098       844   33         3  1:41.323        101323
538211    1098       844   34         4  1:59.477        119477
538212    1098       844   35         3  1:38.073         98073
538213    1098       844   36         3  1:37.313         97313
538214    1098       844   37         3  1:37.170         97170
538215    1098       844   38         3  1:37.170         97170
538216    1098       844   39         3  1:37.287         97287

In [5]:
races = pd.read_csv("../f1_data/races.csv")
races.head()

   raceId  year  round  circuitId                   name        date      time                                                      url fp1_date fp1_time fp2_date fp2_time fp3_date fp3_time quali_date quali_time sprint_date sprint_time
0       1  2009      1          1  Australian Grand Prix  2009-03-29  06:00:00  http://en.wikipedia.org/wiki/2009_Australian_Grand_Prix       \N       \N       \N       \N       \N       \N         \N         \N          \N          \N
1       2  2009      2          2   Malaysian Grand Prix  2009-04-05  09:00:00   http://en.wikipedia.org/wiki/2009_Malaysian_Grand_Prix       \N       \N       \N       \N       \N       \N         \N         \N          \N          \N
2       3  2009      3         17     Chinese Grand Prix  2009-04-19  07:00:00     http://en.wikipedia.org/wiki/2009_Chinese_Grand_Prix       \N       \N       \N       \N       \N       \N         \N         \N          \N          \N
3       4  2009      4          3     Bahrain Grand Prix  2009-04-26  12:00:00     http://en.wikipedia.org/wiki/2009_Bahrain_Grand_Prix       \N       \N       \N       \N       \N       \N         \N         \N          \N          \N
4       5  2009      5          4     Spanish Grand Prix  2009-05-10  12:00:00     http://en.wikipedia.org/wiki/2009_Spanish_Grand_Prix       \N       \N       \N       \N       \N       \N         \N         \N          \N          \N